.container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.details {
  object-fit: contain;
  padding: 10px;
}
.card {
  align-content: center;
  align-items: center;
}
.img {
  padding: 40px;
}
